.company{
    width: 450px;
    margin: 0 auto;
    padding: 3em;
}

.company_header{
    background-color: #222;
    padding: .7em;
    margin-bottom: 1em;
    text-align: center;
    border-radius: 10px;
    color: white;
}
.company p{
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 1em;
}
.company a{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 1em;
    border-radius: 10px;
    color: white;
    background-color: #222;
    width: 100%;
    transition: .3s;
}
.company a:hover{
    background-color: #ffbb33;
    color: black;
}