.project-container {
    padding: 2em;
}

.title_container {
    display: flex;
    margin-bottom: 2em;
    justify-content: space-between;
    margin-top: 2em;
}

.no_projects {
    font-size: 1.3em;
    font-weight: bold;
    padding: 6px;
}